/** GRID */
$grid-min-width: 300px;
$grid-max-width: 1200px;
$grid-padding: 16px;

/** BREAKPOINTS */
$grid-breakpoints: (
  xs: 0,
  xs-max: 575px,
  sm: 576px,
  sm-max: 767px,
  md: 768px,
  md-max: 991px,
  lg: 992px,
  lg-max: 1199px,
  xl: 1200px,
) !default;

/** FONTS */
$font-family-base: "Times New Roman", Times, serif;
$line-height-base: 1.4;

/** FONTS SIZES */
$font-size-h1: 36px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-base: 15px;


/** COLORS */
$color-base: #000;

/** BORDER RADIUS */
$border-radius-base: 5px;

/** Z-INDEX */

/** BREAKPOINTS MIXINS */
/** WIDTH: > xs and < xs-max */
@mixin MobileXS () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: xs)) and (max-width: map-get($map: $grid-breakpoints, $key: xs-max)) {
        @content;
    }
}
/** WIDTH: > sm and < sm-max */
@mixin MobileSM () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: sm)) and (max-width: map-get($map: $grid-breakpoints, $key: sm-max)) {
        @content;
    }
}
/** WIDTH: > xs and < sm-max */
@mixin Mobile () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: xs)) and (max-width: map-get($map: $grid-breakpoints, $key: sm-max)) {
        @content;
    }
}
/** WIDTH: > xs and < md-max */
@mixin MobileTablet () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: xs)) and (max-width: map-get($map: $grid-breakpoints, $key: md-max)) {
        @content;
    }
}
/** WIDTH: > md and < md-max */
@mixin Tablet () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: md)) and (max-width: map-get($map: $grid-breakpoints, $key: md-max)) {
        @content;
    }
}
/** WIDTH: > md and < lg-max */
@mixin TabletDesktopLG () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: md)) and (max-width: map-get($map: $grid-breakpoints, $key: lg-max)) {
        @content;
    }
}
/** WIDTH: > md */
@mixin TabletDesktop () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
        @content;
    }
}
/** WIDTH: > lg and < lg-max */
@mixin DesktopLG () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) and (max-width: map-get($map: $grid-breakpoints, $key: lg-max)) {
        @content;
    }
}
/** WIDTH: > xl */
@mixin DesktopXL () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: xl)) {
        @content;
    }
}
/** WIDTH: > lg */
@mixin Desktop () {
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
        @content;
    }
}

/** Iamges */
$images-path: "./../images/" !default;