.admin-bar {
  #wpadminbar {
    opacity: 0;
    transform: translate3d(0, -22px, 0);
    transition: transform .2s ease;

    &:hover {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}