@mixin Row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -#{$grid-padding};
    margin-left: -#{$grid-padding};

    @include Mobile{
        margin-right: -#{$grid-padding / 2};
        margin-left: -#{$grid-padding / 2};
    }
}

@mixin Col($number, $size) {
    @if $size != false {
        .col-#{$size}-#{$number}{
            flex: 0 0 #{(100/(12/$number)) + '%'};
            max-width: #{(100/(12/$number)) + '%'};
        }
    } @else {
        .col-#{$number}{
            flex: 0 0 #{(100/(12/$number)) + '%'};
            max-width: #{(100/(12/$number)) + '%'};
        }
    }
}

@mixin Generate($size) {
    .hidden-#{$size}{
        display: none!important;
    }

    .visible-#{$size}{
        display: block!important;
    }

    .visible-flex-#{$size}{
        display: flex!important;
    }

    .visible-inline-#{$size}{
        display: inline-block!important;
    }

    .visible-inline-text-#{$size}{
        display: inline!important;
    }


    .align-left-#{$size}{
        text-align: left;
    }
    .align-right-#{$size}{
        text-align: right;
    }
    .align-center-#{$size}{
        text-align: center;
    }
    .align-justify-#{$size}{
        text-align: justify;
    }


    .flex-#{$size}{
        display: flex;
    }
    .align-items-flex-start-#{$size}{
        align-items: flex-start;
    }
    .align-items-flex-end-#{$size}{
        align-items: flex-end;
    }
    .align-items-stretch-#{$size}{
        align-items: stretch;
    }
    .align-items-center-#{$size}{
        align-items: center;
    }
    .justify-content-center-#{$size}{
        justify-content: center;
    }
    .justify-content-flex-start-#{$size}{
        justify-content: flex-start;
    }
    .justify-content-flex-end-#{$size}{
        justify-content: flex-end;
    }
    .justify-content-space-between-#{$size}{
        justify-content: space-between;
    }
    .flex-direction-row-#{$size}{
        flex-direction: row;
    }
    .flex-direction-row-reverse-#{$size}{
        flex-direction: row-reverse;
    }
    .flex-direction-column-#{$size}{
        flex-direction: column;
    }
    .flex-direction-column-reverse-#{$size}{
        flex-direction: column-reverse;
    }

    .bg-contain-#{$size}{
        background-size: contain;
    }
    .bg-cover-#{$size}{
        background-size: cover;
    }
    .bg-100-percent-#{$size} {
        background-size: 100%;
    }
    
    .bg-x-left-#{$size} {
        background-position-x: left;
    }
    .bg-x-center-#{$size} {
        background-position-x: center;
    }
    .bg-x-right-#{$size} {
        background-position-x: right;
    }
    
    .bg-y-top-#{$size} {
        background-position-y: top;
    }
    .bg-y-center-#{$size} {
        background-position-y: center;
    }
    .bg-y-bottom-#{$size} {
        background-position-y: bottom;
    }
    
    .bg-center-#{$size}{
        background-position: center center;
    }
}

.container-fluid{
    width: 100%;
    max-width: $grid-max-width;
    padding: 0 $grid-padding;
    margin: 0 auto;
}

.row{
    @include Row;
}

.col{
    position: relative;
    width: 100%;
    padding-right: $grid-padding;
    padding-left: $grid-padding;
    flex-grow: 1;
    max-width: 100%;

    @include Mobile{
        padding-right: $grid-padding / 2;
        padding-left: $grid-padding / 2;
    }
}

.hidden{
    display: none!important;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.align-justify{
    text-align: justify;
}
.flex{
    display: flex;
}
.align-items-flex-start{
    align-items: flex-start;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-stretch{
    align-items: stretch;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-start{
    justify-content: flex-start;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-column-reverse{
    flex-direction: column-reverse;
}

*[class*='bg-']{
    background-repeat: no-repeat;
}

.bg-contain{
    background-position: center center;
    background-size: contain;
}
.bg-cover{
    background-position: center center;
    background-size: cover;
}
.bg-100-percent {
    background-size: 100%;
}

.bg-x-left {
    background-position-x: left;
}
.bg-x-center {
    background-position-x: center;
}
.bg-x-right {
    background-position-x: right;
}

.bg-y-top {
    background-position-y: top;
}
.bg-y-center {
    background-position-y: center;
}
.bg-y-bottom {
    background-position-y: bottom;
}

.bg-center{
    background-position: center center;
}

.min-height-vh{
    min-height: 100vh;

    @include MobileTablet {
        min-height: -webkit-fill-available;
    }
}

.height-auto{
    height: auto;
}

.height-100-percent{
    height: 100%;
}

@for $i from 1 to 12 {
    @include Col($i, false);
}

@media (min-width: map-get($map: $grid-breakpoints, $key: xs)) {
    @for $i from 1 to 12 {
        @include Col($i, 'xs');
    }
    @include Generate('xs');
}

@media (min-width: map-get($map: $grid-breakpoints, $key: sm)) {
    @for $i from 1 to 12 {
        @include Col($i, 'sm');
    }
    @include Generate('sm');
}

@media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    @for $i from 1 to 12 {
        @include Col($i, 'md');
    }
    @include Generate('md');
}

@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    @for $i from 1 to 12 {
        @include Col($i, 'lg');
    }
    @include Generate('lg');
}

@media (min-width: map-get($map: $grid-breakpoints, $key: xl)) {
    @for $i from 1 to 12 {
        @include Col($i, 'xl');
    }
    @include Generate('xl');
}

@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    .row-lg{
        @include Row;
    }
}