.btn {
    font-family: $font-family-base;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    padding: 17px 35px;
    min-width: 220px;
    cursor: pointer;
    transition: background-color 300ms ease, border-color 300ms ease, color 300ms ease, opacity 300ms ease;
    appearance: none;
    border-radius: 0;

    &:disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-block{
    display: block;
    width: 100%;
}
