.form-control{
    font-family: $font-family-base;
    font-size: $font-size-base;
    border: 1px solid $color-base;
    border-radius: $border-radius-base;
    display: block;
    background: #fff;
    height: 50px;
    font-weight: 400;
    color: $color-base;
    outline: none;
    transition: border-color 300ms ease;
    width: 100%;
    padding: 10px 15px;
}

/** TEXTAREA */
textarea.form-control{
    height: auto;
    resize: none;
}