html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

body{
    position: relative;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    min-width: $grid-min-width;
    font-weight: 400;
    color: $color-base;

    &.body-overflow{
        overflow: hidden;
    }

    &.ios-body-fixed-overflow{
        position: fixed;
        left: 0;
        right: 0;
    }
}

*{
    box-sizing: border-box;
}